#CONTACT {
  width: 100%;
  background: #1c5784;
  position: absolute;
}
#CONTACT #googleMap {
  width: 100%;
  height: 100vh;
  z-index: 99;
}
#CONTACT #contact_form {
  width: 100%;
  position: absolute;
  top: 0;
  margin: 5% 0;
  z-index: 999;
}
@media screen and (max-width: 725px) {
  #CONTACT #contact_form {
    margin-top: 10%;
  }
}
@media screen and (max-width: 450px) {
  #CONTACT #contact_form {
    margin-top: 12%;
  }
}
#CONTACT #contact_form #contact_data,
#CONTACT #contact_form #contact_btn {
  width: 30%;
  border: 2px solid #eee;
  border-radius: 2px;
  background: #fff;
  padding: 10px;
}
@media screen and (max-width: 725px) {
  #CONTACT #contact_form #contact_data,
  #CONTACT #contact_form #contact_btn {
    width: 45%;
  }
}
@media screen and (max-width: 450px) {
  #CONTACT #contact_form #contact_data,
  #CONTACT #contact_form #contact_btn {
    width: 60%;
  }
}
@media screen and (max-width: 350px) {
  #CONTACT #contact_form #contact_data,
  #CONTACT #contact_form #contact_btn {
    width: 70%;
  }
}
#CONTACT #contact_form #contact_data span,
#CONTACT #contact_form #contact_btn span {
  line-height: 1.5em;
  color: #222;
}
#CONTACT #contact_form #contact_data .glyphicon,
#CONTACT #contact_form #contact_btn .glyphicon {
  margin-right: 25px;
  font-size: 16px;
}
@media screen and (max-width: 800px) {
  #CONTACT #contact_form #contact_data .glyphicon,
  #CONTACT #contact_form #contact_btn .glyphicon {
    margin-right: 10px;
  }
}
#CONTACT #contact_form #contact_data {
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#CONTACT #contact_form #contact_btn {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
#CONTACT #contact_form #contact_btn .btn-blue {
  background: linear-gradient(to right, transparent 50%, #1c5784 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 1.5s ease;
}
#CONTACT #contact_form #contact_btn .btn-blue:hover {
  background-position: right bottom;
  color: #fff;
}
#contactModal {
  background: rgba(0, 0, 0, 0.6);
}
#contactModal .modal-content {
  box-shadow: none;
  border-radius: 2px;
}
#contactModal .modal-content label {
  color: #444;
}
#contactModal .modal-content .input-text,
#contactModal .modal-content .input-area {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 3px solid #888;
  transition: all 1s ease;
}
#contactModal .modal-content .input-area {
  border: 3px solid #888;
  padding: 3px;
}
#contactModal .modal-content .input-text:focus,
#contactModal .modal-content .input-text:active,
#contactModal .modal-content .input-area:focus,
#contactModal .modal-content .input-area:active {
  border-color: #1c5784;
}
#contactModal .modal-content .input-btn-reset,
#contactModal .modal-content .input-btn-send {
  border-color: #888;
  color: #888;
  background: transparent;
  transition: all 1.5s ease;
}
#contactModal .modal-content .input-btn-reset {
  margin-left: 60%;
}
#contactModal .modal-content .input-btn-send {
  border-color: #1c5784;
  color: #1c5784;
}
#contactModal .modal-content .input-btn-reset:hover,
#contactModal .modal-content .input-btn-reset:active,
#contactModal .modal-content .input-btn-reset:focus {
  color: #666;
  border-color: #666;
}
#contactModal .modal-content .input-btn-send:hover,
#contactModal .modal-content .input-btn-send:focus,
#contactModal .modal-content .input-btn-send:active {
  color: #164569;
  border-color: #164569;
}
