#TEAM .carousel {
  margin-top: 10%;
}
@media screen and (max-width: 991px) {
  #TEAM .carousel {
    margin-top: 0;
  }
}
#TEAM .carousel .carousel-indicators li {
  background: #fff;
  border-color: #1c5784;
}
#TEAM .carousel .carousel-indicators li.active {
  background: #1c5784;
}
@media screen and (max-width: 991px) {
  #TEAM .carousel .carousel-indicators {
    display: none;
  }
}
#TEAM .carousel .carousel-control {
  background: transparent;
  color: #777;
}
#TEAM .carousel .carousel-control:hover {
  color: #1c5784;
}
#TEAM .carousel .item .person_area {
  width: 70%;
  margin: 0 auto;
}
#TEAM .carousel .item .person_area .person_image img {
  display: block;
  width: 300px;
  height: 300px;
  border: 3px solid #ddd;
  border-radius: 150px;
  margin: 5% auto;
}
@media screen and (max-width: 420px) {
  #TEAM .carousel .item .person_area .person_image img {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 991px) {
  #TEAM .carousel .item .person_area .person_image img {
    margin: 3% auto;
  }
}
#TEAM .carousel .item .person_area .person_description .h2 {
  color: #1c5784;
  margin-top: 10%;
}
@media screen and (max-width: 991px) {
  #TEAM .carousel .item .person_area .person_description .h2 {
    margin-top: 0;
  }
}
